@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* swiper styles */

   .swiper-pagination {
       position: absolute;
       right: 10px;
       width: auto !important;
       left: auto !important;
       margin: 0;
   }

   .swiper-slide {
       height: auto !important;
       text-align: center;
   }
    .swiper-content {
        height: 100% !important
    }

/* the new container */

    .swiper-container {
        position: relative;
        width: 100%;
        padding: 0 40px;
}

@layer components{
    .menu-link{
        @apply relative text-lg font-light no-underline after:absolute after:bottom-0 after:left-1/2 after:w-0 after:h-0.5 after:transition-all after:ease-in-out after:bg-red-800 hover:after:w-full hover:after:left-0
    }
     span.swiper-pagination-bullet.swiper-pagination-bullet-active {
     @apply bg-gray-500 
    } 
     span.swiper-pagination-bullet{
     @apply w-4 h-4
    } 
    .section-slider-image{
        @apply h-4/5 w-full cursor-pointer
    }
    .swiper-left{
        @apply absolute top-[40%] left-4 -translate-y-[40%] z-20 flex 
    }                                                                    
    .swiper-right{
        @apply absolute top-[40%] right-4 -translate-y-[40%] z-20 flex 
    }
    .display-section-container{
        @apply px-6 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4
    }
                                             
}